{% extends 'base.html' %}

{% block title %} | Services {% endblock%}

{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Tire rotations to replacements, our car shop offers a range of tire services to keep your vehicle driving smoothly and safely. Our technicians will inspect your tires for wear and recommend the best course of action to keep them in top condition.</p>
            <p>Brakes are a critical component of any vehicle, and regular brake inspections and repairs can help ensure the safety of you and your passengers. Our brake repair services include pad replacement, rotor resurfacing, and more.</p>
            <p>Your vehicle's suspension is responsible for providing a smooth ride, and regular maintenance can help ensure it is functioning properly. Our suspension services include shock and strut replacement, ball joint replacement, and more.</p>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>A thorough vehicle inspection can help identify any potential issues before they become bigger problems. Our technicians will inspect your vehicle from top to bottom and provide you with a detailed report of any recommendations.</p>
                        <p> If you have any questions or concerns about your vehicle's warranty, our technicians can provide expert support and guidance, helping you take advantage of all the benefits your warranty has to offer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>If your vehicle is pulling to one side or the other, our technicians can quickly perform a wheel alignment, restoring your vehicle's handling and stability.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Quick Oil Change, Tire Repair, Battery Jumpstart, Emergency Brake Repair, Engine Diagnostics, Rapid Engine Performance Tune-Up </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p> Our technicians will thoroughly inspect your vehicle's air conditioning system, checking for any leaks, worn parts, or other issues that may be affecting its performance</p>
                        <p>Our AC performance tune-up service can help restore the efficiency of your air conditioning system, ensuring it is running at its best.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>Regular oil changes are crucial for maintaining the health of a vehicle's engine. Our oil change service includes the replacement of old oil with fresh, high-quality oil, as well as a thorough inspection of the vehicle's other essential fluids.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>Our technicians use state-of-the-art diagnostic equipment to quickly identify any issues with your engine, allowing them to get to work on repairing the problem as soon as possible.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>New vehicles sales, Financing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>Vehicle tracking and monitoring, Car alarm and immobilizer systems installation, Remote start and keyless entry systems, GPS tracking devices</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>Insurance companies, Car theft prevention and recovery organizations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->
<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end --> 

{% endblock %}